@import 'tailwindcss';

@theme {
  --spacing-global-padding-horizontal: 0 40px;
  --spacing-global-padding-horizontal-mobile: 0 20px;
}

@layer utilities {
  .icon-rounded {
    @apply size-7 rounded-full flex items-center justify-center;
  }
}
